/* assets/css/variables.css */
/* Variables globales para todo el sitio */

:root {
  --verde-selva: #2A5C45;
  --amarillo-terroso: #D4A418;
  --naranja-ardiente: #E67E22;
  --azul-profundo: #2C3E50;
  --marron-tierra: #5D4037;
  --beige: #F4ECD6;
}