<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documento</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/miestilo.css" rel="stylesheet">
  </head>
  <body>
      <div class="titulo"> 
        <h1>Fishing shop</h1>
      </div>
      <div class="parrafo">
        <p>Aqui encontraras los mejores equipos para tus mejores aventuras...</p>
      </div>
      <nav class="menu">
        
          <li><a href="#">Inicio</a></li> 
          <li><a href="#">Sobre nosotros</a></li> 
          <li><a href="#">Contacto</a></li> 
          <li><a href="https://www.google.com.ar/maps/place/Centenario+Shopping/@-27.4699562,-58.817784,15.53z/data=!4m6!3m5!1s0x94456b6ca10e6e2b:0xa03f567172e58c10!8m2!3d-27.4715475!4d-58.8064566!16s%2Fg%2F11d_8tpq54?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoJLDEwMjExNjQwSAFQAw%3D%3D">Ubicación</a></li> 
      </nav>
      <footer>
        <p>Desarrollado por: pepe</p>
      </footer>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>