<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documento</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/miestilo.css" rel="stylesheet">
    <link href="assets/fontawesome/css/all.min.css" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="logo">
            <a href="/proyectoTaller_l/">
              <img src="assets/img/logo.png" alt="Logo" width="50" height="50">
            </a>
          </div>
          <a class="navbar-brand" href="/proyectoTaller_l/">Yaguareté Camp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorías
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Camping</a></li>
                  <li><a class="dropdown-item" href="#">Indumentaria</a></li>
                  <li><a class="dropdown-item" href="#">Pesca</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://www.google.com.ar/maps/place/Centenario+Shopping/@-27.4744679,-58.7994039,15z/data=!4m6!3m5!1s0x94456b6ca10e6e2b:0xa03f567172e58c10!8m2!3d-27.4715475!4d-58.8064566!16s%2Fg%2F11d_8tpq54?hl=es&entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D">Ubicación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/proyectoTaller_l/sobre-nosotros">Sobre nosotros!</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <section>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/pescador.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Articulos de pesca</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/carpa.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Camping</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/img/rio.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Y mucho más...</h3>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <h1>PRODUCTOS DESTACADOS</h1>

    <div class="card-group">
      <div class="card">
        <img src="assets/img/caña1.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Caña Spinit Tempest 2.4 Mts</h5>
          <p class="card-text">Caña para lanzamiento de costa - Resistencia: 150-300 gramos</p>
          <p class="card-text">$37500</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/caña2.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Combo Pesca Variada Caña 2 Tramos Reel 6 Rulem Con Tanza 040</h5>
          <p class="card-text">- 2 tramos maciza
            - Para lanzar de 60 grs de plomo
            - 1,80 mts,
            - Incluye funda original
            - Pasahilos aptos multifilamento</p>
          <p class="card-text">$32500</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/carpa1.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Carpa 4 Personas Dakota</h5>
          <p class="card-text">200x200x135cm Color Celeste</p>
          <p class="card-text">$92549</p>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="assets/img/carpa2.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Carpa Igloo 4 Personas</h5>
          <p class="card-text">Armado Automatico 2x2 Iglu Impermeabl</p>
          <p class="card-text">$39899</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/remera1.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Remera Payo Con Capucha</h5>
          <p class="card-text">Uv Para Adultos, Sin Género</p>
          <p class="card-text">$45600</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/remera2.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Remera De Pesca</h5>
          <p class="card-text">Camu Hidden Cantheris Orig Sec Rap Uv 50+</p>
          <p class="card-text">$38200</p>
        </div>
      </div>
    </div>

      <footer>
        <div class="social-icons">
            <a href="https://facebook.com/yaguaretecamp" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://instagram.com/yaguaretecamp" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/543794xxxxxx" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <p>Copyright @ 2025 - Todos los derechos reservados.</p>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>