<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documento</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/miestilo.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="logo">
          <img src="assets/img/logo.png" alt="Logo" width="50" height="50">
        </div>
        <a class="navbar-brand" href="#">NaturePro: Pesca y Camping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Camping</a></li>
                <li><a class="dropdown-item" href="#">Indumentaria</a></li>
                <li><a class="dropdown-item" href="#">Pesca</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://www.google.com.ar/maps/place/Centenario+Shopping/@-27.4744679,-58.7994039,15z/data=!4m6!3m5!1s0x94456b6ca10e6e2b:0xa03f567172e58c10!8m2!3d-27.4715475!4d-58.8064566!16s%2Fg%2F11d_8tpq54?hl=es&entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D">Ubicacion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="parrafo">
        <p>Aqui encontraras los mejores equipos para tus mejores aventuras...</p>
      </div>

      <footer>
        <p>Desarrollado por: pepe</p>
      </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>